@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: rgb(0, 0, 0);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/* Главная секция */
.hero-section {
  background: url(/image/2025-bmw-m5-frozen-deep-grey-19.jpg) center/cover no-repeat;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.5);
  inset: 0;
  position: absolute;
}

.hero-content {
  position: relative;
}

.test-drive-btn {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  padding: 15px 20px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 18px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.test-drive-btn:hover {
  background-color: #fff;
  color: #000;
  transform: scale(1.05);
}

/* О машине */
/* Фоточки, видосики */
video {
  object-fit: cover;
}

.mb-96 {
  margin-bottom: 96px;
}


/* Детали, создающие стиль */
.video-container {
  position: relative;
  display: inline-block;
}

.volume-control {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  padding: 8px 12px;
  backdrop-filter: blur(5px);
}

.mute-btn {
  color: #ccc;
  background: none;
  border: none;
  font-size: 1.2rem;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.mute-btn:hover {
  color: rgba(56, 6, 9, 1);
}

.volume-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 120px;
  height: 6px;
  background: #ccc;
  border-radius: 4px;
  outline: none;
  transition: background 0.3s ease;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: rgba(56, 6, 9, 1);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.volume-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: rgba(56, 6, 9, 1);
  border-radius: 50%;
  cursor: pointer;
}

.gallery-video {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  #muteButton {
    font-size: 18px;
  }

  .volume-slider {
    width: 100px;
  }
}



/* Характеристики */
.specs-table {
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.specs-table th,
.specs-table td {
  padding: 14px;
}

.specs-table th {
  background-color: rgb(0, 0, 0, 0.6);
}

.specs-table td {
  background-color: rgba(255, 255, 255, 0.03);
  color: #e0e0e0;
  font-style: italic;
}

.specs-table tr:not(:last-child) {
  border-bottom: 1px solid rgba(231, 0, 0, 0.1);
}

@media (max-width: 768px) {

  .specs-table th,
  .specs-table td {
    padding: 12px;
    font-size: 0.9rem;
  }
}

/* Тест-драйв */
.accordion-toggle {
  padding: 12px 24px;
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.accordion-toggle:hover {
  background-color: #000;
  color: #fff;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
  background-color: #240406;
  margin-top: 20px;
  padding: 0 20px;
  border-radius: 8px;
}

.input {
  background-color: #333333;
  color: #fff;
}

.accordion-content.active {
  max-height: 1000px; /* достаточно большое значение */
  padding: 20px;
}

#testDriveForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#testDriveForm input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

#testDriveForm input.input-error {
  border-color: red;
}

.field-error-message {
  color: red;
  font-size: 12px;
  text-align: left;
  margin-top: -10px;
  margin-bottom: 10px;
}

.submit-btn {
  padding: 12px;
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: #000;
  color: #fff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  max-width: 800px;
  background: #333333;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.close-modal {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.close-modal:hover {
  background-color: #000;
  color: #fff;
}


/* Градиент на фон */
.wrapper {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 40%, rgba(56, 6, 9, 1) 100%);
}